/* Sidebar Styles */
.sidebar {
    width: 250px; /* Width of the sidebar when opened */
    background-color: #ffffff; /* White background for sidebar */
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease, margin-left 0.3s ease; /* Smooth transition for size and margin */
}

.sidebar-collapsed .sidebar {
    width: 80px; /* Width of the sidebar when collapsed */
}

nav ul {
    list-style-type: none;
    padding-left: 0;
}

    nav ul li {
        display: flex;
        align-items: center;
        padding: 10px;
        cursor: pointer;
    }

        /* Change color on hover */
        nav ul li:hover {
            background-color: #f5f5f5; /* Light gray on hover */
        }

.sidebar ul li {
    transition: opacity 0.3s ease; /* Smooth fade for text */
}

.hero-image {
    margin-left: 70px;
    width: 70px; /* Default size when sidebar is open */
    transition: width 0.35s ease, margin-left 0.35s ease; /* Smooth transition for size and margin */
}

.sidebar-collapsed .hero-image {
    width: 50px; /* Match the size of the .icon-background when sidebar is collapsed */
    height: 50px;
    margin-left: 0; /* Remove extra margin when collapsed */
}
